<html>
<head>
	<title>大玉软件</title>
	<link rel="stylesheet" href="style.css" type="text/css" />
	<script src="js/vue.js" ></script>
</head>
<body>
	<div class="main" >
		<div class="header" >
			<div class="head-content" >

			</div>
			<div class="head-right" >
				<div style="height: 100%;width:60px;display: table;float: left" >
					<div class="clear" @click="clear">
						<img src="img/clear.png" />
					</div>
				</div>
				<div class="imgDiv">
					<img src="img/close.png" @click="close_fun()" />
				</div>
				<div class="imgDiv">
					<img src="img/small.png" @click="small_fun()" />
				</div>
			</div>
		</div>
		<div class="content" id="content" >
			<div class="content-top">
				<ul>
					<li v-for="(it,index) in sources" style="margin-top: 30px;" >
						<div style="text-align: center;display: inline-block;margin-left: 10px;" >
							<div><img class="excel" src="img/excel.png" /></div>
							{{it.name}}<img src="img/delete.png" @click="delfun(index)"
                                            style="max-height:31px;position: relative;top: 10px;left: 20px;" />
						</div>
                        <table style="margin-top: 10px;">
                            <tr><td :class="{active:index==0?(idx==lcindex):(idx==rcindex)}"
									@click="index==0?selectLCol(idx):selectRCol(idx)" :style="{width:index==0?leftWidth:rightWidth}" v-for="(d,idx) in sourceData[index]">{{d}}</td></tr>
                        </table>
					</li>
				</ul>
			</div>
			<div class="content-bottom">
				<div @click="getSame()">
					Get Result
				</div>
			</div>
			<div class="loading" id="loading" >
				<span style="display: table-cell;vertical-align: middle;">处理中，请稍后...</span>
			</div>
		</div>
	</div>
	<script src="js/action.js" ></script>
</body>
</html>