html
{
	height: 100%;
	font-family: "Microsoft YaHei";
	font-size:18px;
}
body
{
	width: 100%;
	height: 100%;
	margin:0px;
	-webkit-app-region: drag;
	border-radius: 3px;
	background: #fcfcfc;
}
img,button
{
	-webkit-app-region: no-drag;
	cursor:pointer;
}

.main
{
	width:100%;
	height:100%;
	margin:0px;
}

.header
{
	height:7.5%;
	background: #14A1E8;
}
.content
{
	-webkit-app-region: no-drag;
	height:92.5%;
}

.content-top{
	height: 90%;
	width: 100%;
}
.content-bottom{
	height: 10%;
	width: 100%;
}
.content-bottom>div{
	width: 20%;
	height: 40px;
	line-height: 40px;
	float: right;
	text-align: center;
	font-size: 20px;
	color: #00cc66;
	cursor: pointer;
	margin-right: 20px;
	border-radius: 4px;
}

.content-bottom>div:hover{
	background: #00cc66;
	color: #FFFFFF;
}

.clear{
	width: 60px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	color: #00cc66;
	-webkit-app-region: no-drag;
	cursor:pointer;
	display: table-cell;
	vertical-align: middle;
}

.clear:hover{
	height: 40px;
	line-height: 40px;
}

.head-content
{
	float:left;
	width:70%;
	height: 100%;
	overflow:hidden;
}

.content-top ul
{
	float: left;
	margin: 0px;
}

.content-top ul li
{
	color: #323232;
	list-style:none;
	float:left;
	margin-left:20px;
}

.content-top li .excel{
	width: 50px;
	height: 50px;
}

.head-left
{
	float:left;
	width:15%;
	border-right:2px solid white;
}

.head-right
{
	float:right;
	width:29%;
	height:100%;
	border-left:2px solid white;
}

.head-right img{
	height: 80%;
	margin-top: 10%;
}

.imgDiv{
	height: 100%;
	width: 51px;
	float: right;
	text-align: center;
	margin: 0 10px;
}

.head-right img:hover{
	height: 100%;
	margin-top: 0px;
}

.content-left,.content-right
{
	overflow-y: auto;
	width:49.8%;
	height:100%;
	float:left;
}

.content .content-center
{
	height:100%;
	width:0.4%;
	float:left;
	background:green;
}